[Unit]
Description=MyServer
After=syslog.target

[Service]
Type=forking
ExecStart=/mnt/c/games/ubuntu/osc/litesh1-main/src/server
Restart=always
RestartForceExitStatus=11 SIGABRT

[Install]
WantedBy=multi-user.target
